/*
A flex container is any element that has display: flex on it. A flex item is any element that lives directly inside of a flex container.

Somewhat confusingly, any element can be both a flex container and a flex item. Said another way, you can also put display: flex on a flex item and then use flexbox to arrange its children.
Creating and nesting multiple flex containers and items is the primary way we will be building up complex layouts.  Flexbox is a very powerful tool.
*/
.flex-container{
    display: flex;
}

.flex-container div{
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1;
}